{{/* 不蒜子访客统计脚本 */}}
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

{{/* 点击水波纹特效 */}}
{{- if not .Params.disableRipple }}
<script src="{{ "js/ripple.js" | absURL }}"></script>
{{- end }}

{{/* 文章点赞 - 暂未启用
{{- if .IsPage }}
  {{ partial "like-button.html" . }}
{{- end }}
*/}}

{{/* 博客功能 JS */}}
{{- $features := resources.Get "js/blog-features.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $features.RelPermalink }}" integrity="{{ $features.Data.Integrity }}"></script>
